[Service]
Type=oneshot
ExecStart=/usr/bin/mkdir -p /etc/cdi
ExecStart=/usr/bin/nvidia-ctk cdi generate -output /etc/cdi/nvidia.yaml

[Install]
WantedBy=multi-user.target
